*{
	box-sizing: border-box;
}
h1{
	color: black;
	margin-bottom: 10px;
	padding: 0;
	vertical-align: center;
}
h3{
	color: black;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
#navbar-header{
	border-radius: 0;
	border: 0;
	background-color: lightgreen;

}
.navbar-brand{
	text-align: left;
	padding: 15px;
	color: white;
	font-size: 1.5em;


}
.navbar-header buttton.navbar-toggle, .icon-bar{
	color: black;
	border: 1px solid black;
}
#nav-list a{
	color: black;
	text-align: center;
	font-size: 1.5em;

}
#nav-list a:hover{
	background-color: lightgreen;
}
.section{
	background-color: lightgreen;
	color: maroon;
	margin-top: 40px; 
	margin: 15px;
	margin-bottom: 20px;
	margin-right: 35px;
	padding: 15px;
	height: 700px;
}
li{
	background-color: white;
	margin: 0;
	padding: 0;
	border: 2px solid black;
}
hr{
	margin: 0;
}
#navbar-header{
	border: 2px solid black;
}
.container>.row>div{
	height: 700px;
}
#chicken, #beef{
	margin-bottom: 20px;
}
